.author {
    height: calc(100vh - 44px);
    margin-top: 4.4rem;

    .author-container {
        padding: 40px 0px;
            height: 100%;

            .author-profile {
              display: flex;
              flex-direction: column;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              .card {
                max-width: 300px;
                margin: auto;
                text-align: center;

                .title {
                  color: grey;
                  font-size: 18px;
                }
                
                .contact {
                  border: none;
                  outline: 0;
                  display: inline-block;
                  padding: 8px;
                  color: white;
                  background-color: #e49100;
                  text-align: center;
                  cursor: pointer;
                  width: 100%;
                  font-size: 18px;
                }
              }
              .info {
                width: 100%;
                padding: 15px;
                background: #fff;

                .about-author {
                  font-size: 16px;
                  line-height: 22px;
                }
              }
            }


              

              
              a {
                text-decoration: none;
                font-size: 22px;
                color: black;
              }
              
              button:hover, a:hover {
                opacity: 0.7;
              }
    }
}

@media  screen and (min-width: 768px) { 
    .author {            
            height: calc(100vh - 64px);
            margin-top: 64px;
              .author-container {
                  padding: 40px 0px;
                      height: 100%;
          
                      .author-profile {
                        display: flex;
                        flex-direction: row;
                      }
                }
    }
}