.user {
  height: calc(100vh - 44px);
  margin-top: 44px;
}

.user .user-container {
  padding: 40px 0px;
}

.user .user-container .title {
  margin-bottom: 20px;
}

.user .user-container .title.activities {
  margin-bottom: 5px;
}

.user .user-container .description {
  font-size: 16px;
  line-height: 22px;
}

.user .user-container .description.activities {
  display: inline;
}

@media screen and (min-width: 768px) {
  .user {
    height: calc(100vh - 64px);
    margin-top: 64px;
  }
}